/* styles.css */

/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px; /* Increase base font size */
}

header {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header-image {
  width: 120px;
  height: auto;
  margin-right: 20px;
  max-width: 100%;  /* Ensure image doesn't exceed its container */
  border-radius: 5%; /* Optional: makes the image circular */
}

.header-text h1 {
  margin: 0;
  font-size: 2.3rem; /* Increase font size for header */
}

.header-text p {
  margin: 5px 0;
  font-size: 1.2rem; /* Increase font size for paragraph */
  color: #555;
}

nav {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 15px; /* Increase spacing between navigation items */
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.0rem; /* Increase font size for nav links */
}

nav ul li a:hover {
  text-decoration: underline;
}

main {
  margin: 20px;
}

section {
  margin-bottom: 50px; /* Increase space between sections */
}

h1, h2 {
  color: #333;
  font-size: 1.7rem; /* Increase font size for headers */
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  font-size: 1.0rem; /* Increase font size for footer */
}

.centered-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh;  */
  /* This ensures the image is vertically centered in the viewport */
}

video {
  width: 640px; /* Adjust the width as needed */
  height: 360px; /* Adjust the height as needed */
  display: block;
  margin: 0 auto;
}

figcaption {
  font-style: italic;
  text-align: center;
  margin-top: 15px;
}

/* Media Queries */
@media (max-width: 768px) {
  header {
    padding: 10px;
  }

  nav {
    padding: 5px;
  }

  nav ul li {
    margin-right: 5px;
  }

  main {
    margin: 10px;
  }

  /* Stack header elements on smaller screens */
  .header-content {
    flex-direction: column;
    text-align: center;
  }

  .header-image {
    margin-bottom: 15px;
  }
}
